.style{
    width: 200vh;
    height: 0px;
    transform: translateY(21vh);
    background-color: red;
}

.pointer{
    width: 2vh;
    height: 2px;
    background: rgba(255, 255, 255, 0.5 );
    box-shadow: 0px 0px 10px #fff;
    animation: point 3.9s linear infinite ;
    transform: translate(68.5vh);
}


@keyframes point {
    0%{transform: translate(68.5vh);
    }

   50%{
        transform:translate(117vh) ;
        background-color: rgb(78, 181, 241);;
    }
    100%{
        transform: translate(68.5vh);
    }
   
}