.style{
    width: 200vh;
    height: 0px;
    transform: translateY(21vh);
    background-color: red;
}

.pointer{
    width: 2vh;
    height: 2px;
    background: rgba(255, 255, 255, 0.5 );
    box-shadow: 0px 0px 10px #fff;
    animation: poin 10s infinite ;
}


@keyframes point {
    0%{transform: translate(0vh);
          }

    50%{
        transform:translate(198vh) ;
    }
}